<div class="formCrea">
	<form class="form" action="creation" method="post">
		<div class="conteneur">
			<div class="titreAnnee">
				<label class="mb-2" for="titre">Titre</label>
			</div>
			<div class="titreAnnee annee">
				<label class="mb-2" for="annee">Année</label>
			</div>
		</div>
		<div class="conteneur">
			<input class="titre mb-3" type="text" name="titre" placeholder="Titre du film" required>
			<input class="annee mb-3" type="text" name="annee" placeholder="Année de sortie" required>
		</div>
		<label class="affiches mb-2" for="affiche">Affiche</label>
		<input class="affiches mb-3" type="text" name="affiche" placeholder="Lien, hauteur min : 600px " required>
		<label class="realisateur mb-2" for="realisateur">Réalisateur</label>
		<input class="realisateur mb-3" type="text" name="realisateur" placeholder="Nom du réalisateur" required>
		<div class="d-flex m-auto w-100">
			<p class="mb-2">Rôle(s)</p>
			<button class="ms-2 mb-3 bg-secondary text-light rounded border-0 p-1" id="btnRole"
				type="button">Ajouter</button>
		</div>
		<div class="d-flex m-auto w-100" id="divRole">
			<!-- personnage[] permet de creer un array pour stocker les différents personnages au moment du clonage -->
			<input class="w-25 mb-3" type="text" name="personnage[]" placeholder="Personnage" required>
			<input class="w-25 ms-5 mb-3" type="text" name="nom[]" placeholder="Nom de l'acteur" required>
			<input class="w-25 ms-5 mb-3" type="text" name="prenom[]" placeholder="Prenom de l'acteur" required>
		</div>
		<input class="d-flex m-auto mt-5 bg-primary text-light rounded border-0 p-2" type="submit" name="submit"
			id="submit" value="Créer">
	</form>
</div>
<h2 class="text-center mt-5">{{message}}</h2>